@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
    @apply anchor;
}

dt {
    @apply font-bold;
}

dl {
    @apply space-y-4;
}

p {
    @apply mb-4;
}

ul {
    @apply list-disc pl-6 space-y-1;
}
